


.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    animation-name: bodyAnimation;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-delay: 5s;
}

  body{
   
  }
@keyframes bodyAnimation {

    from{
          background-color: blue;
    }
    to{
        background-color: red;
    }
    
}

.class{
    height: 200px;
    width: 200px;
    background-color: brown;
    margin-top: 20px;
    animation-name: boxAnimation;
    animation-duration: 3s;
}
@keyframes boxAnimation {

    0%{
        transform: translate(0,0) rotate(0);
    }

    10%{
        transform: translate(300PX,0) rotate(100deg);
        border-radius: 20%;
    }
    30%{
        transform: translate(300PX,300PX) rotate(200deg);
        border-radius: 30%;
    }

    50%{
        transform: translate(0,300PX) rotate(300deg);
        border-radius: 40%;

    }

    80%{
        transform:translate(0,0) rotate(360deg);
        border-radius: 50%;
    }
    
}
.button{
    height: 100px;
    width: 40px;
    background-color: rgb(237, 70, 14);
    border: 0;
    margin-top: 20px;
    border-radius: 15px;
    animation-name: buttonAni;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

@keyframes buttonAni {
    0%{
        transform: translateY(0);
    }
    20%{
        transform:translateY(50px);
    }
    90%{
        transform: translateY(0);
    }
}